.reps {
  position: relative;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ff00cc; */
}

.reps__header-wrapper {
  width: 1000px;
  text-align: center;
  /* border: 1px solid #0099ff; */
}

.reps__header {
  font-size: var(--size-xl);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--clr-light-orange);
  font-weight: bold;
  text-align: center;
  padding-bottom: var(--size-base);
}

.reps__star-decoration {
  height: 2rem;
  object-fit: contain;
  margin: 1rem auto;
}

.reps__column-wrapper {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  text-align: center;
  /* border: 1px solid #0099ff; */
}

.reps__column {
  flex-grow: 1;
  width: 22rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
}

.reps__column.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Animation delay for each column */
.reps__column:nth-child(1) {
  transition-delay: 0.3s;
}

.reps__column:nth-child(2) {
  transition-delay: 0.6s;
}

.reps__region {
  font-size: var(--size-xs);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--clr-light-orange);
  font-weight: bold;
  padding-bottom: 1rem;
  /* border: 1px solid #ff00cc; */
}

.reps__name {
  color: var(--clr-main-text-white);
  font-size: var(--size-xl);
  font-weight: bold;
  padding-bottom: 0.75rem;
}

.reps__company {
  color: var(--clr-main-text-white);
  font-size: var(--size-base);
  letter-spacing: -0.02rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.75rem;
}

.reps__email {
  font-size: var(--size-xs);
}

.reps__email a {
  display: block;
  color: var(--clr-main-text-white);
  text-decoration: none;
  font-size: var(--size-base);
  font-style: italic;
  transition: color 0.5s ease, text-decoration 0.5s ease;
  padding-bottom: 0.75rem;
}

.reps__email a:hover {
  color: var(--clr-light-orange);
}

.reps__tel {
  color: var(--clr-main-text-white);
  font-size: var(--size-base);
  letter-spacing: -0.02rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 4rem;
}

/* Footer */
.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  background: linear-gradient(to right, rgb(239, 150, 34), rgb(255, 78, 0));
  position: absolute;
  bottom: 0;
  gap: 30px;
}

.footer__logo img {
  max-height: 25px;
  min-height: 25px;
  display: block;
  margin-left: 50px;
}

.footer__socials {
  padding-left: 50px;
  display: flex;
  gap: 30px;
}

.footer__social-media {
  width: 30px;
  min-width: 25px;
  transition: all 0.3s;
}

.footer__social-media:hover {
  transform: scale(1.2);
  filter: brightness(2);
}

.footer__pattern {
  flex-grow: 1;
  width: 65%;
  height: 110px;
  display: inline block;
  background-image: url('/assets/images/Star_Pattern_White.png');
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 10px;
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
@media (max-width: 1024px) {
  .reps__header-wrapper {
    width: 800px;
  }

  .reps__column-wrapper {
    width: 800px;
    gap: 20px;
  }

  .reps__star-decoration {
    height: 1.5rem;
  }

  /* Footer */

  .footer__logo img {
    max-height: 25px;
    min-height: 25px;
  }

  .footer__social-media {
    width: 30px;
    min-width: 25px;
  }
}

/* md - TABLET / MOBILE */
@media (max-width: 768px) {
  .reps__header-wrapper {
    width: 600px;
  }

  .reps__column-wrapper {
    width: 600px;
    gap: 20px;
  }

  .reps__region {
    letter-spacing: 2px;
  }

  .reps__name {
    font-size: var(--size-lg);
    padding-bottom: 0.5rem;
  }

  .reps__company {
    font-size: var(--size-sm);
    padding-bottom: 0.5rem;
  }

  .reps__email a {
    font-size: var(--size-sm);
    padding-bottom: 0.5rem;
  }

  .reps__tel {
    font-size: var(--size-sm);
    padding-bottom: 3rem;
  }

  /* Footer */
  .footer__logo img {
    max-height: 20px;
    margin-left: 20px;
  }

  .footer__socials {
    gap: 40px;
    padding-left: 0px;
  }

  .footer__pattern {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .reps__header-wrapper {
    width: 500px;
  }

  .reps__column-wrapper {
    width: 500px;
    gap: 20px;
  }

  .reps__region {
    letter-spacing: 2px;
  }

  .reps__name {
    font-size: var(--size-base);
    padding-bottom: 0.5rem;
  }

  .reps__company {
    font-size: var(--size-xs);
    padding-bottom: 0.5rem;
  }

  .reps__email a {
    font-size: var(--size-xs);
    padding-bottom: 0.5rem;
  }

  .reps__tel {
    font-size: var(--size-xs);
    padding-bottom: 3rem;
  }
}

/* xs */
/* @media (max-width: 475px) {} */
